<div class="header">
  <div class="part-rigth">
    <div class="d-lg-none d-block">
      <span class="pi pi-bars text-dark icon-bar" (click)="effectMenuBar()"></span>
    </div>
    <div class="icons">
      <div class="world">
        <i class="fa-solid fa-globe"></i>
      </div>
    </div>
    <div class="nickname">
      <span class="nickname__name">Josue Dominguez Huamani</span>
      <figure class="nickname__imagen">
        <img src="/assets/Captura.JPG" alt="nickname">
        <div class="settings">
          <nav class="nav">
            <ul class="list">
              <li class="list__item"><span class="list__link"> <i class="fa-solid fa-user"></i> Perfil</span></li>
              <li class="list__item"><span class="list__link"> <i class="fa-solid fa-moon"></i> Apariencia</span></li>
              <li class="list__item"><span class="list__link"><i class="fa-solid fa-right-from-bracket"></i> Cerrar
                  sesión</span></li>
            </ul>
          </nav>
        </div>
      </figure>
    </div>
  </div>
</div>
