$text-sm: .8rem;
$text-md: 1rem;
$text-xl: 2rem;
$bg-main: #2A4B6F;
$bg-hover: #203954;
$bg-body: #D9DDE3;
$bg-card: #ffff;
$text-color-black:black;
$text-color-white:#fff;
$input-focus-box-shadow: #2A4B6F;
