button.facebook:hover{
  background-color: #455C8D;
}

button.google:hover{
  background-color: #C73C24;
}

.facebook{
  background-color: #4E69A1;
}

.google{
  background-color: #E34429;
}

svg{
  vertical-align: sub;
}
